.cc-popover {
  --antd-arrow-background-color: #000000bf;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   display: block;
  //   background-color: var(--accent-first);
  //   width: 100%;
  //   height: 2px;
  //   filter: blur(6px);
  // }

  .ant-popover-inner {
    background-color: var(--antd-arrow-background-color);

    .ant-popover-title {
      color: #fff;
    }

  }
}