.cc-avatar {
  &.profile-pic {
    position: relative;
    width: 200px;
    flex: 0 0 200px;
    padding: 12px;
    border-color: var(--profile-pic-bg-bkp);
    background: var(--profile-pic-bg-bkp);
    background: var(--profile-pic-bg);
    box-shadow: var(--profile-pic-outer-shadow);

    &::after {
      position: absolute;
      top: 50%;
      display: block;
      width: calc(100% - 24px);
      height: calc(100% - 24px);
      border-radius: 50%;
      box-shadow: var(--profile-pic-inner-shadow);
      content: '';
      transform: translateY(-87px);
    }

    img {
      position: relative;
      border-radius: 50%;
    }
  }
}
