.cc-switch {
  .cc-switch__with-label {
    color: var(--body-text-default);
    font-family: var(--default-font);
    font-size: var(--font-size-body);

    &.right {
      margin-left: 8px;
    }

    &.left {
      margin-right: 8px;
    }

    .cc-switch__label {
      display: inline;
      cursor: pointer;

      &:hover {
        color: var(--switch-checked-color);
      }
    }
  }
}
