.app-header {
  // background-image: url('../../../assets/images/header-bg.png');
  // background-repeat: no-repeat;
  // background-position: right;

  .app-header-wrapper {
    display: flex;
    position: relative;
    padding: 32px 32px 44px 32px;
    gap: 32px;
    color: #fff;

    .profile-info {
      .ant-typography {
        margin: 8px 0 4px 0;
      }
    }

    .contact-info {
      display: flex;
      gap: 8px;
    }
  }

  .header-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}