.cc-project-card {
  --cover-radius: var(--container-radius) var(--container-radius) 0 0;
  --after-sizes: calc(100% + 1px);
  --icon-font-size: 8vw;
  border-radius: var(--container-radius);
  transition: all 0.3s;

  .ant-card-meta-title {
    white-space: initial;
    min-height: 50px;
  }

  &.has-click-through {
    cursor: pointer;

    .ant-card {
      .ant-card-cover {
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          color: var(--link-item);
          content: '\e80d';
          font-family: var(--icon-font);
          font-size: var(--icon-font-size);
          transform: translate(-31px, -70px);
          transition: all 0.3s;
        }
      }

      .ant-card-meta-title {
        position: relative;
        color: var(--link-item);
      }
    }

    &:hover {
      box-shadow: var(--profile-pic-outer-shadow);
      transform: scale(1.1);

      .ant-card {
        .ant-card-cover {
          &::before {
            opacity: 0.2;
          }

          &::after {
            left: 60%;
            color: var(--link-item-hover);
          }
        }

        .ant-card-meta-title {
          color: var(--link-item-hover) !important;
        }
      }
    }

  }

  .ant-card {
    border-radius: var(--container-radius);


    .ant-card-cover {
      position: relative;
      box-sizing: border-box;
      border: 0;
      border-radius: var(--cover-radius);

      img {
        box-sizing: border-box;
        border: 0;
        border-radius: var(--cover-radius);
      }

      &::before {
        position: absolute;
        top: 0;
        display: block;
        width: var(--after-sizes);
        height: var(--after-sizes);
        border-radius: var(--cover-radius);
        box-shadow: var(--project-card-cover);
        content: '';
        transition: all 0.3s;
      }
    }
  }


  .card-placeholder {
    height: 100%;
  }
}
