.theme-1 {
  // fonts
  --default-font: monaco,
    monospace,
    monospace;
  --alternate-font: monaco,
    monospace,
    monospace;
  // colors
  --body-text-default: #ffffff;
  --accent-first: #F2C94C;
  --accent-second: #2F80ED;
  --accent-third: #000000;
  --link-item: var(--accent-second);
  --link-item-hover: var(--accent-first);
  --link-item-first-bg: #00398a;
  --app-background: #151618;
  --card-background: #101011;
  --shadow-mid-out: #384051;
  --shadow-center: #9c9c9c;
  --profile-pic-bg-bkp: #333740;


  --error-item-color: #e52841;
  --success-item-color: #01934d;
  --warning-item-color: #e87c3e;
  --info-item-color: #0287da;
  --background-info: #e1f1fb;
  --background-error: #fee6e9;
  --background-success: #ddf4e9;
  --background-warning: #f7e8e0;
  --container-radius: 18px;
  // shadows
  --card-shadow: inset -4px 0px 12px #f2c94c17,
    inset 4px 4px 8px #000000ed;
  --profile-pic-inner-shadow: inset 4px 4px 12px 0 #00000085;

  --profile-pic-outer-shadow: 20px 20px 40px #060708,
    -20px -20px 40px #2a2c30;
  // gradients
  --slit-gradient: linear-gradient(90deg, var(--app-background) 0%, var(--shadow-mid-out) 25%, var(--shadow-center) 50%, var(--shadow-mid-out) 75%, var(--app-background) 100%);
  --profile-pic-bg: linear-gradient(145deg, var(--profile-pic-bg-bkp), #919eb9);
  --profile-pic-bg: linear-gradient(145deg, var(--profile-pic-bg-bkp), #2d2e30);
}
