.ant-typography {
  // font-family: var(--default-font);
  color: var(--body-text-default);
}
a.ant-typography-expand,
a.ant-typography {
  color: var(--link-item) !important;

  &:hover {
    color: var(--link-item-hover) !important;
  }
}